*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 237, 237);
}
#nav-container{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
}

.logo{
    height: inherit;
    width: 16%;
    display: flex;
    align-items: center;
}
.search{
      height: inherit;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search > input{
    height: 45px;
    width: 98%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(236, 234, 234, 0.955);
    border-radius: 0 7px 7px 0;
}
.search > i{
    background-color: rgba(236, 234, 234, 0.955);
    font-size: 25px;
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px ;

}
.icons{
      height: inherit;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login , .cart , .seller , .dots{
    display: flex;
    font-size: 22px;
    font-family: sans-serif;
    gap: 5px;
}
#container{
    height: 150px;
    width: 98%;
    margin:13px 13px 13px 13px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
}
 
.shopping{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:10px;
}
 .shopping img {
    width: 70px;
    height: 70px;
    margin-bottom: 8px;
 }
 .shopping p{
    font-size: 20px;
    margin-left: 4px;
    font-weight: 500;
 }


.deal{
    height: 300px;
    width: 97.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: white;
     margin-left: 19px; 
     gap: 70px;
     
    
}
h4{
    font-size: 13px;
    text-align: center;
    margin: 20px 0 0 0;
}
b{
    font-size: 15px;
    margin-left: 24px;
    
}

.deal-side{
   

    height: 290px;
    width: 20%;
   
       
}
.h5{
   
   padding-bottom: 30px;
   
    
   
}

h5{
    font-size: 25px;
    padding-bottom: 40px;
    margin-left: 30px;

}

 .main-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
 }
.card {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    width: 590px;
    background-color: white;
    padding: 20px;
    border: 2px solid rgba(236, 234, 234, 0.955);

}
.card > .div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    gap: 95px;
} 
.card > .div1 > h1{
    font-size: 28px;
}
.card > .div1 > i{
    background-color: blue;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.card > .card-container >  .first-image{
    height: 300px;
    width: 180px;
    border: solid 1px rgb(241, 235, 235);
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
    margin-top: 30px;
}
.card > .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.para-1{
    font-family: sans-serif;
    font-size: 18px;
    justify-content: start;
}
.para-2{
      font-family: sans-serif;
    font-size: 20px;
    color: green;

}

.container {
    background-color: rgb(237, 237, 237);
    margin: 30px ;
    padding: 20px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 19px;
    color: rgb(105, 102, 102);
}

p {
    margin-bottom: 15px;
    font-size: 13px;
    color: gray;
}

ol {
    padding-left: 20px;
    margin-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
}

ol li {
    color: gray;
    margin-bottom: 5px;
}

p
h2 , p{
     font-family:Arial, sans-serif;
}
.footer {
    background: #212121;
    color: #fff;
    padding-top: 40px;
    font-size: 14px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 0 40px 40px 40px;
}

.footer .col h2 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #878787;
}

.footer .col a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.footer .col a:hover {
    text-decoration: underline;
}

.footer .col p {
    color: #fff;
    margin: 6px 0;
    line-height: 20px;
}

.footer .icons span {
    font-size: 20px;
    margin-right: 10px;
}

.footer-bottom {
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    font-size: 14px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}